@font-face {
  font-family: "Ubuntu";
  src: url("../webfonts/Ubuntu.ttf"); }
@font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Light.ttf"); }
.pagenav {
  display: none; }

h1 {
  line-height: 64px !important;
  height: 64px;
  z-index: -1;
  margin-right: 0; }

.alltopbar {
  border-bottom: 1px solid #63696d; }

.alltopbar, .visitlink {
  background: black;
  height: 64px;
  line-height: 64px; }

.mailsent {
  top: initial;
  bottom: 0;
  max-height: 33vh;
  overflow-y: auto; }

ul.visitmenu {
  top: 64px;
  right: 15px; }
  ul.visitmenu li a {
    border-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7); }

section:last-child {
  margin-bottom: 80px; }

section.landing {
  display: block;
  background-size: cover;
  margin-top: 64px;
  padding: 20px 0 0 0; }
  section.landing .landingscroll {
    display: none; }
  section.landing .firstbox {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 50vh;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white; }
    section.landing .firstbox p {
      padding: 0; }
    section.landing .firstbox h3 {
      margin: inherit; }

.homeChart {
  max-width: 100%; }

footer.footer {
  position: initial;
  min-height: auto; }
  footer.footer form.contact {
    padding: 5px 25px; }
    footer.footer form.contact > * {
      width: 100%; }
    footer.footer form.contact textarea {
      height: 45px;
      max-width: 100%;
      min-width: 100%; }
  footer.footer p {
    margin: 15px; }

section.strip {
  padding: 0; }
  section.strip > * {
    max-width: none; }

section.mywork {
  margin-top: 64px; }

section.screensmatrix {
  padding: 0; }
  section.screensmatrix > * {
    max-width: none; }
  section.screensmatrix div.description {
    border: none;
    border-top: 2px solid #CC9A54; }
  section.screensmatrix .btn {
    margin: 20px auto; }

.slick-arrow {
  display: none !important; }

.grid {
  width: 100%; }

.two-c > *, .three-c > *, .four-c > * {
  width: auto !important;
  float: initial;
  margin: 10px auto;
  height: auto !important;
  padding: 5px; }
.two-c p.alt-tile, .three-c p.alt-tile, .four-c p.alt-tile {
  display: block !important; }

/*.three-c
 * @include two-c */
@media screen and (max-width: 470px) {
  h1 {
    display: none; }

  .visitlink {
    position: fixed;
    width: 100%;
    border: none; }

  .visitlink, ul.visitmenu {
    float: initial;
    left: 0 !important;
    right: 0 !important; }

  ul.visitmenu {
    top: 64px !important; }
    ul.visitmenu li a {
      height: 70px;
      padding: 0 !important;
      text-align: center;
      line-height: 70px;
      width: 100% !important;
      border-left: 0 !important; }
      ul.visitmenu li a:hover, ul.visitmenu li a:target, ul.visitmenu li a:active {
        background: white !important;
        color: black; }

  .oneline {
    display: block; }
    .oneline > * {
      float: initial;
      margin: 10px auto; } }
.nomobile {
  display: none !important; }

/*# sourceMappingURL=mobile.css.map */
