ErrorDocument 404 https://axelfiolle.be/404.php
ErrorDocument 403 https://axelfiolle.be/404.php
ErrorDocument 500 https://axelfiolle.be/404.php

RewriteEngine On
RewriteRule    ^page-([A-Za-z0-9-]+)/?$    index.php?page=$1    [NC,L]

RewriteCond %{HTTP_HOST} ^axelfiolle\.be [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://axelfiolle.be/$1 [R=301,L]